.fild {
  position: relative;
  margin: 0;
  margin-bottom: 2rem;
  input {
    width: 80%;
    padding: 0.5rem;
  }
  input:disabled {
    background: #ffff;
    color: #000000;
    //border: none;
    //padding-left: 0;
  }
}
label {
  display: block;
}
.errors {
  width: 100%;
  position: absolute;
  color: red;
  font-size: 0.6rem;
  left: 50%;
  bottom: -2%;
  transform: translate(-50%, 100%);
}
