.main {
  padding-left: 160px;
  background-color: #eee;
  padding-right: 20px;
  height: 100vh;
}
.side-bar {
  position: fixed;
  left: 0;
  padding-top: 10px;
  width: 10%;
  width: 140px;
  height: 100vh;
  background: #065a69;
  a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
  }
  a.active {
    background-color: rgba(255, 255, 255, 0.26);
  }
}
.bar-nav {
  list-style: none;
  padding: 0;
}
.work-flow {
  //margin-left: 200px;
}
.user {
  padding: 10px;
  color: #ffffff;
  &-welcome {
    font-size: 1rem;
    margin: 0;
  }
  &-right {
    font-size: 0.7rem;
  }
  &-logout {
    display: block;
    margin-top: 1rem;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &-img {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.section-header {
  margin: 0;
  margin-bottom: 1rem;
  color: #065a69;
}
