.side-bar {
  //padding: 10px;
  width: 10%;
  min-width: 140px;
  height: 100vh;
  background: #065a69;
  a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
  }
  a.active {
    background-color: rgba(255, 255, 255, 0.26);
  }
  li {
  }
}
.logout {
  display: block;
  margin-top: 1rem;
  margin-left: 10px;
  padding: 5px 10px;
  //width: 100%;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.26);
  }
}
