.error {
  color: red;
}
.action-bar {
  display: flex;
  align-items: center;
  background-color: #065a69;
  padding: 1rem;
  box-sizing: border-box;
  mui-btn {
    padding-right: 10px;
  }
}
.user-table {
  table {
    width: 100%;
    margin-top: 1rem;
    line-height: 2rem;
    text-align: center;
    background-color: #fff;
  }
  thead {
    background-color: rgb(6, 90, 105);
    color: #fff;
  }
  tbody {
    tr {
      border: 2px solid #000;
      cursor: pointer;
      &:nth-child(2n) {
        background-color: rgb(248, 247, 193);
        &:hover {
          background-color: rgba(8, 8, 8, 0.329);
        }
      }
      &:nth-child(2n-1) {
        &:hover {
          background-color: rgba(8, 8, 8, 0.329);
        }
      }
    }
  }
}
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgb(6, 90, 105);
  color: #fff;
  line-height: 2rem;
  &-right-side {
    display: flex;
    align-items: center;
    & * {
      margin: 0 1rem;
    }
  }
  .rc-pagination {
    margin: 0;
  }
}
.footer-select {
  padding: 0;
  select {
    background-color: #fff;
    padding: 0 0.5rem;
    // color: #fff;
  }
  .mui-select__menu {
    color: #000;
    text-align: center;
  }
  .mui-select__menu > div.mui--is-selected {
    background-color: rgb(6, 90, 105);
    color: #fff;
  }
  .mui-select__menu > div:hover {
    background-color: rgba(6, 90, 105, 0.493);
  }
}
button {
  margin-right: 1rem;
}
.checkbox {
  width: 25px;
}
.checkbox-input {
  border: 1px solid #000;
  z-index: 100;
}
.name {
  width: 150px;
}
